<redisConfig>
  <hostGroup Name="social" allowAdmin="true" ssl="false" password="" connectTimeout="5000" database="0">
    <hosts>
      <host ip="10.12.11.99" port="6379"/>
    </hosts>
  </hostGroup>
  <hostGroup Name="trade" allowAdmin="true" ssl="false" password="" connectTimeout="5000" database="0">
    <hosts>
      <host ip="10.12.11.99" port="6379" />
    </hosts>
  </hostGroup>
  <hostGroup Name="commmon" allowAdmin="true" ssl="false" password="" connectTimeout="5000" database="0">
    <hosts>
      <host ip="10.12.11.99" port="6379" />
      <host ip="10.12.11.99" port="6380" />
      <host ip="10.12.11.99" port="6374" />
    </hosts>
  </hostGroup>
</redisConfig>